<div id="outer">

  <img src="https://d-tm.ppstatic.pl/kadry/cf/40/a2ffeea29fc5d7560b98c9757f9e.1000.jpg" alt="coś nie pykło" width="25"
       height="30">

  <span>Your profile overview = DANE ZALOGOWANEGO UZYTKOWNIKA</span>
  <p>Info uzytkownika</p>
  <span>{{personalDataJson?.athlete?.city}}</span>
  <!--  <span>{{personalDataJson?.athlete?.firstname}}</span>-->
  <!--  <span>{{personalDataJson?.athlete?.profile}}</span>-->

</div>

<app-stats></app-stats>

<!-- <div class="inner"><button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">-->

<!--   <mat-icon>directions_bike</mat-icon>-->

<!--  </button>-->

<!--  <div class="inner"><button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">-->
<!--    <mat-icon>share</mat-icon>-->
<!--</button>-->
<!--  </div>-->
<!--{{wartosc?.dupa}}-->
<!--</div>-->


<!--<span style="color: #636364"> All time stats </span>-->

<!--<mat-icon>calendar_today</mat-icon>-->

<span>{{personalDataJson?.athlete?.firstname}}</span>
