<mat-toolbar>
  <span id="app_name">Map Completion App </span>
  <!--    <button mat-button>Training&nbsp;</button>-->
  <div class="space"></div>
  <!--    <button mat-button>Challenges&nbsp;</button>-->

  <a class="btn default" routerLink="/training">Training</a>
  <a class="btn default" routerLink="/dashboard">Dashboard</a>

  <!--
    <a class="button" routerLink="/crisis-list">Crisis Center</a> |
    <a class="button" routerLink="/heroes-list">Heroes</a>
  -->
  <a class="btn default" routerLink="/chart">Challenges</a>
  <!--  <button class="btn default">Shop</button>-->

  <span class="header-spacer"></span>

  <mat-icon button matBadge="15" routerLink="./">home</mat-icon>

  <div class="space"></div>
  <i class="material-icons">list</i>

</mat-toolbar>
<div class="main-marginated-container">

  <router-outlet></router-outlet>
</div>
